/.DS_Store
/.idea
/.venv
/covid19
/diabetes
/dogecoin
/gardu
/klasifikasi_handphone.csv
/phoneclassificationdataset.csv
/prediksicuaca
/prediksicuaca.zip
/prediksikripto
/price_prediction
/saham
/sonar_rock_vs_mine_prediction
/venv